body{  
    color: #3D3D3D;
     width: 940px;
     /* margin left margem ao lado esquerdo*/
     margin-left: auto;
     /*margin right margem ao lado direito*/
     margin-right:auto;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
     
    
}

.titulo { 
    background-color: #E1EDF2;
    padding: 10px;
    font-variant: 100;
            
}
.subtitulo {
    border-bottom: 10px solid;
}

figure {  
    padding: 15px; 
    margin: 30px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figcaption {
    margin-top: 10px    
}

.matriz-musicdot{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tupfeln{
    width: 275px;
    float: right;
}

figure img{
    width: 100%;
}

.contato__subtitulo{
    display: inline;
}
.contato__info{
    margin: 16px 0 24px;
    padding-left: 32px;
}
.contato__info-titulo,
.contato__info-descricao {
  display: inline;
}

.contato__info-descricao {
  margin-left: 20px;
}
p {
    text-align: justify;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



