body{  
    color: #3D3D3D;
     width: 80%;
     max-width: 940px;
     margin-left: auto;
     margin-right:auto;
     font-size: 16px;
     line-height: 1.5;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    
         
}

.titulo { 
    background-color: #E1EDF2;
    padding: 10px;
    font-size: 32px;
    font-variant: 100;
}
.subtitulo {
    border-bottom: 2px solid black;
}

figure {  
    max-width: 100%;
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figcaption {
    margin-top: 10px    
}

.matriz-musicdot{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
}

figure img {
    width: 100%;
}
.contato__subtitulo {
    display: inline;
}
.contato__secao {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato__secao--telefone {
    margin-left: 32px;
}
.contato__info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato__info-titulo,
.contato__info-descricao {
  display: inline;
}   

.contato__info-descricao {
  margin-left: 10px;
}
p {
    text-align: justify;
}
h3 {
    font-family:Georgia, 'Times New Roman', Times, serif
}

.rodape {
    padding: 1.75em 0;
 
    font-size: 1.1rem;
  }
 
  .rodape__logo {
    width: 6em;
  }
 
  .rodape__copyright {
    display: inline;
    margin-left: 1em;
  }


@media (max-width: 850px) {

.contato__secao {
  display: block;
  margin-left: 1em;
    } 
}

@media (max-width: 622px) {
        
.familia-tupfeln {
 float: none;
 margin: 0 auto; 
    } 
}

@media (max-width: 446px) {
.contato__subtitulo {
 display: block;
 margin: bottom 0;
    }
}

.contato__info{
    padding-left: 5px;

    font-size: .92em;

    border-left: 2px solid lightgrey;
}

 .rodape{
    font-size: .92em;
}

@media (max-width:342px) {
    .contato__info-descricao{
        display: block;
        margin-left: 1em;
    }
}
    
    
    


    
